.bordercss {
  border: 0;
  box-shadow: none;
}
.optionlist {
  margin-left: -22px;
}

.paddingEmail {
  text-align: center;
}
.blueCircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  display: inline-block;
}
.singleEmail-false {
  background-color: rgb(246, 243, 243);
  color: black;
  font-weight: 600;
}
.singleEmail-false:hover {
  background-color: rgb(220, 220, 220);
}
.unReadedMessage {
  display: inline-block;
  width: 40px;
  height: 25px;
  border-radius: 15%;
  color: white;
}
.gmailpadding {
  margin-right: 50px;
}
@media (min-width: 1199px) {
  .sentCss {
    padding-right: 60px;
  }
  .composeCss {
    padding-right: 23px;
  }
}
